<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head lang="en">

    <title>Capstone Book Store</title>

    &lt;!&ndash;/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/&ndash;&gt;
</head>-->
<head>
 <title>Home</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <a th:href="@{/logout}">Sign out</a>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(books)}">
        <h2>Books List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Book Id</th>
                <th>Description</th>
                <th>Price</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"><a href="/book/${book.id}">Id</a></td>
                <td th:text="${book.bookId}">Book Id</td>
                <td th:text="${book.description}">descirption</td>
                <td th:text="${book.price}">price</td>
                <td><a th:href="${ '/book/' + book.id}">View</a></td>
                <td><a th:href="${'/book/edit/' + book.id}">Edit</a></td>
                <td><a th:href="${'/addCart/' + book.id}">Add to Cart</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>